@{
	ViewData["Tittle"] = "Categories manager";
}

<div class="row">
	<div class="col-12 mt-3">
		<button class="btn btn-outline-dark">Add Category</button>
	</div>
	<div class="col-12 mt-3">
		<table class="table table-bordered">
			<colgroup>
				<col style="width: 10%" />
				<col style="width: 75%" />
				<col style="width: 15%" />
			</colgroup>
			<thead>
				<tr>
					<th>#</th>
					<th>Cat name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>